@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --white-color: #fff;
    --black-color: #000;
    --first-color: #e6e6e6;
    --subtitle-color: #6337c9;
    --footer-color: #a79cc4;
    --list-color: #a79cc4;
    --link-color: #303440;
    --header-height: 6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--first-color);
}

.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    text-align: center;
    color: var(--subtitle-color);
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.title {
    font-size: 3rem;
    color: var(--black-color);
    text-align: center;
}

.text-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--black-color);
}

.texts {
    font-size: 1rem;
}

/*******************************HERO***********************************/

.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/**************************************MENU*****************/

.none {
    display: none;
}

.menu-btn {
    margin-right: 0.1rem;
    outline: thin solid var(--subtitle-color);
    border: 0;
    cursor: pointer;
    background-color: var(--white-color);
}

.menu-btn svg {
    fill: var(--subtitle-color);
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--first-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--subtitle-color);
}

.menu a:hover {
    color: var(--black-color);
    background-color: var(--subtitle-color);
}

@media screen and (min-width:1024px) {
    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }

    .menu a {
        font-size: 1.1rem;
        padding: 0 auto;    
    }

    .menu a:last-child {
        padding-right: 0;
    }

    .menu a:hover {
        background-color: transparent;
        text-decoration: underline var(--subtitle-color);
        color: var(--black-color);
        transition: none;
    }
}

header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-height);
    background-color: var(--first-color);
    padding: 1rem;
}

header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: var(--subtitle-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .header {
        position: sticky;
        top: 0;
        padding: 0.5rem;
        height: calc(var(--header-height) - 0.5rem);
    }

}

/*********************************************************SERVICES***********************************/

.container-service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;

}

.container-service img {
    width: 48%;
}

.checklist-servicio {
    width: 48%;
}

.service {
    margin-bottom: 20px;
}

.n-service {
    margin-bottom: 7px;
    color: var(--subtitle-color);
    font-size: 1.2rem;
}

.number {
    display: inline-block;
    background-image: linear-gradient(to top, #947ad1 0%, #bd8caf 100%);
    width: 30px;
    height: 30px;
    color: var(--white-color);
    text-align: center;
    border-radius: 50px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 1rem;
}

/*******************************************COUNTRIES******************************************/

.container-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1150px;
    overflow: hidden;
    margin: auto;

}

.img-gallery {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.showImage {
    transform: scale(1);
}

.show {
    transform: translate(0);
}

/******************************************SECURITY********************************************/

.experts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/*****************************************************CONTACT**************************************/

.contact-location {
    display: flex;
    justify-content: space-between;
}

/********************************FOOTER********************************************************/

.footer {
    background: var(--footer-color);
    margin-bottom: var(--header-height);
    text-align: center;
    padding: 2rem;
}

.social-media-icon {
    display: inline-block;
    margin-left: 2rem;
    color: var(--black-color);
    transition: all .5s ease-in-out;
}

.social-media-icon:hover {
    color: #764ba2;
}

.social-media-icon i {
    font-size: 2rem;
}

/*******************************RESPONSIVE**************************************/

@media screen and (max-width:800px) {

    .container-service img {
        width: 100%;
        margin-bottom: 40px;
    }

    .checklist-servicio {
        width: 100%;
    }

    .img-gallery {
        width: 100%;
    }

    .cont-expert {
        width: 100%;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .contact-us {
        text-align: center;
        margin-bottom: 40px;
    }

    .contact-location {
        flex-direction: column;
        text-align: center;
    }

    .title {
        font-size: 2rem;
    }

    .text-title {
        font-size: 1rem;
    }

    .hero-image-opacity {
        min-height: 40vh;
    }

    .menu a {
        font-size: 1.4rem;
    }

}

@media screen and (max-width:1024px) {

    .container-service {
        display: flex;
        flex-direction: column;
    }

    .container-service img {
        width: 100%;
        margin-bottom: 40px;
    }

    .checklist-servicio {
        width: 100%;
    }

    .img-gallery {
        width: 48%;
    }

    .experts {
        display: flex;
        flex-direction: column;
    }

    .cont-expert {
        width: 100%;
    }

}

@media screen and (min-width: 1024px) {

    .footer {
        margin-bottom: 0;
    }

}